<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigenere Cipher</title>
</head>
<body>
    <h1>Enkripsi dan Dekripsi Vigenere Cipher</h1>

    <form method="post" action="/encrypt">
        <label for="plain_text">Plaintext:</label>
        <input type="text" id="plain_text" name="plain_text" required>
        <br>
        <label for="key">Key:</label>
        <input type="text" id="key" name="key" required>
        <br>
        <button type="submit">Enkripsi</button>
    </form>

    <form method="post" action="/decrypt">
        <label for="encrypted_text">Ciphertext:</label>
        <input type="text" id="encrypted_text" name="encrypted_text" required>
        <br>
        <label for="key">Key:</label>
        <input type="text" id="key" name="key" required>
        <br>
        <button type="submit">Dekripsi</button>
    </form>

    {% if result %}
        <h2>Hasil:</h2>
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
